<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoRec - Course Recommendation Engine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <style>
        .container-horizontal{
            display: flex;
        }
        .container-entry{
            text-align: center;
        }
        .container-entry.form{
            width: 60%;
        }
        form,.container{
            text-align: center;
        }
        #select,#advice{
            min-height: 20px;
            margin:30px;
            background-color: lightgrey ;
            padding: 10px;
            box-shadow: 0 0 10px 2px gray ;
        }
        #select{
            cursor: pointer;
        }

        .header{
            width:100%;
            display:flex;
            text-align:center;
        }
    </style>
</head>
<body>
        <div class="page-header" style="text-align:center;">
            <h1>CoRec Course Recommendation Engine</h1>
        </div>
        <br/><br/>
        <div class="container-horizontal">
        <div class="container-entry form">
            <form action="/predict" method="post">
                <div class="form-group">
                    <label for="id" class="control-label">ID</label>
                    <input type="text" name="id" id="id" />
                </div>
                <div class="form-group">
                    <label for="fi" class="control-label">FI</label>
                    <input type="text" name="fi" id="fi" /> 
                </div>
                <div class="form-group">
                    <label for="subject1" class="control-label">Elective 1 Subject</label>
                    <input type="text" class="subject" name="subject1">
                </div>
                <div class="form-group">
                    <label for="subject2" class="control-label">Elective 2 Subject</label>
                     <input type="text" class="subject" name="subject2">
                </div>
                   
                <div class="form-group">    
                    <label for="subject3" class="control-label">Elective 3 Subject</label>
                    <input type="text" class="subject" name="subject3"><br /><br />
                </div>

                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                
            </form>
        </div>
        <div class="container-entry">
            <h1>Next Subject</h1>
            <div id="nextSubject">

            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <label for="selectedSubject">Select a Subject </label>
        <input type="text" id="selectedSubject" name="selectedSubject" class="control-label">
        <a id="select" class="btn btn-primary">I choose this</a>
        <div id="advice">
            Fill the Above Form and select a subject to get Feedback
        </div>
    </div>
    <script>
        var data={};
        var sendRequest=function (e) {
            e.preventDefault();
            var id=document.getElementById("id").value;
            var fi=document.getElementById("fi").value;
            var subjects_raw=document.getElementsByClassName("subject");
            var subjects=[];
            for(let i=0;i<subjects_raw.length;i++){
                sub=subjects_raw[i];
                if(sub.value ==""){
                   // subjects.push("None");
                }
                else
                    subjects.push(sub.value);
            }
            var student={
                "ID":id,
                "FI":fi,
                "S":subjects
            };
            var asyncRequest= new XMLHttpRequest();
            asyncRequest.open(method="POST",url="/predict");
            asyncRequest.setRequestHeader("Content-Type","application/json;charset=utf-8");
            asyncRequest.onload=function (response) {

                if(this.status>=400) {
                    document.getElementById("nextSubject").innerText = "Error happened in Server. Not expected behaviour from Client ";
                    return;
                }
                console.log("Next Subject:",this.response);
                data=JSON.parse(this.response);
                document.getElementById("nextSubject").innerText=data.nextSubject;
                if(data.status==2) //max Difficutly
                    document.getElementById("nextSubject").innerText="It looks like you mastered the field . Try doing projects(recommendated)  Or take basic courses to brush up your basics Or learn some other field course which will help you later in your life";
                if(data.status==1)
                    document.getElementById("nextSubject").innerText="Error in Input. Use Capitals and only valid subjects codes";
            };
            asyncRequest.onerror=function (ev) {
                document.getElementById("nextSubject").innerText="Error Happened. Try contacting the Admin";
            }
            asyncRequest.send(JSON.stringify(student));
        };
        document.getElementById("submit").addEventListener("click",sendRequest);

        document.getElementById("select").addEventListener("click",function (e) {
            e.preventDefault();
            var selectedSubject=document.getElementById("selectedSubject").value;
            if(selectedSubject==data.nextSubject){
                                    document.getElementById("advice").innerHTML="Looks good. Thanks For Trusting the System. All the Best.";

            }
            else
                if (data.allowableSubjects.indexOf(selectedSubject)>-1){
                console.log(data);
                document.getElementById("advice").innerHTML="Are You sure? It looks like you are taking  a subject with high risk.<br/><br/>It will be beneficial if  you prefer Recommended Subject or similar ones. <br/><br/> Dont take my word though. Choose any of these you prefer === "+data.allowableSubjects.map(sub => sub)+". <br/><br/>All the best";

                }
            else{
                  document.getElementById("advice").innerHTML="Error in your Subject Name. Use Only capitals for subjects";
            }

        });

    </script>
</body>
</html>
